idea
.vscode
*.log
/vendor/
logs/
.sass-cache/
bower_components/
/codeception.yml
/data/locale/*/res/*.res
/data/locale/*/res/*.txt
/data/locale/*.dat
/data/locale/*.json
dist/
node_modules/
static/*/manifest.php
static/*/css
static/*/images
static/*/js
static/*/svg
static/*/src/i18n/json/*.json
static/*/src/i18n/xliff/*.xlf
static/*/src/scss/_image-data.scss
static/*/src/scss/_sprite-data.scss
static/*/src/scss/_svg-sprite.scss
static/*/src/images/sprite.png
static/*/src/images/sprite*.svg
static/*/src/images/sprite*.png
static/*/fonts/font-icon*
static/*/fonts/OpenSans*
static/*/fonts/glyphicons*
static/*/fonts/fontawesome*
src/Applications/*/Config/Development.php
Tests/_output
Tests/_log
Tests/*.suite.yml
Tests/_helpers/_generated
.tmp/
/tmp/*
/public/sitemap/*/*.xml
rest/rest-client.env.json

# появляются в корне при установке composer-библиотек докером
/.htaccess
/.ssh
/bin/static/config
/cache
static/*/.cache-loader
static/*/browserconfig.xml
static/*/manifest.json
static/*/favicons/
static/*/src/js/lang

# появляются при make static-build APP=...
static/*/build-stats.json
.cache
